<meta charset="UTF-8">
<script src="https://kit.fontawesome.com/593d831025.js" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Montserrat+Alternates:ital,wght@0,400;0,600;0,900;1,700&family=Montserrat:wght@400;700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="robots" content="index, follow">
<meta name="google" content="notranslate">
<meta name="format-detection" content="telephone=no">

<link rel="apple-touch-icon" sizes="180x180" href="/favicons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="/favicons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="/favicons/favicon-16x16.png">
<link rel="manifest" href="/favicons/manifest.json">
<link rel="mask-icon" href="/favicons/safari-pinned-tab.svg" color="#ff9e30">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="theme-color" content="#ffffff">

<meta name="description" content="<%= __('meta_desc')%>">

<title>
    <% if (title === 'main') { %>
        <%= __('page_index')%>
    <% } else if (title === 'about') { %>
            <%= __('page_about')%>
    <% } else if (title === 'products') { %>
            <%= __('page_products')%>
    <% } else if (title === 'findus') { %>
            <%= __('page_find')%>
    <% } else if (title === 'delivery') { %>
            <%= __('page_delivery')%>
    <% } else if (title === 'firms') { %>
            <%= __('page_firms')%>
    <% } else if (title === 'contacts') { %>
            <%= __('page_contacts')%>
    <% } else if (title === 'salads_cha') { %>
            <%= __('salads_cha_name')%>
    <% } else if (title === 'salads_eggplant') { %>
            <%= __('salads_eggplant_name')%>
    <% } else if (title === 'salads_water') { %>
        <%= __('salads_water_name')%>
    <% } else if (title === 'salads_cabbagebeet') { %>
        <%= __('salads_cabbagebeet_name')%>
    <% } else if (title === 'salads_adzhika') { %>
        <%= __('salads_adzhika_name')%>
    <% } else if (title === 'salads_mushr') { %>
        <%= __('salads_mushr_name')%>
    <% } else if (title === 'salads_sote') { %>
        <%= __('salads_sote_name')%>
    <% } else if (title === 'salads_celery') { %>
        <%= __('salads_celery_name')%>
    <% } else if (title === 'salads_trio') { %>
        <%= __('salads_trio_name')%>
    <% } else if (title === 'salads_mini') { %>
        <%= __('salads_mini_name')%>
    <% } else if (title === 'salads_colorcabbage') { %>
        <%= __('salads_colorcabbage_name')%>
    <% } else if (title === 'salads_chimcha') { %>
        <%= __('salads_chimcha_name')%>
    <% } else if (title === 'salads_mushr_white') { %>
        <%= __('salads_mushr_white_name')%>
    <% } else if (title === 'salads_beans') { %>
        <%= __('salads_beans_name')%>
    <% } else if (title === 'salads_cabbage_shafr') { %>
        <%= __('salads_cabbage_shafr_name')%>
    <% } else if (title === 'salads_funzhoza') { %>
        <%= __('salads_funzhoza_name')%>
    <% } else if (title === 'salads_funchozaSha') { %>
        <%= __('salads_funchozaSha_name')%>
    <% } else if (title === 'salads_cabbagePaprika') { %>
        <%= __('salads_cabbagePaprika_name')%>
    <% } else if (title === 'salads_mushr_assort') { %>
        <%= __('salads_mushr_assort_name')%>
    <% } else if (title === 'salads_mushr_bl') { %>
        <%= __('salads_mushr_bl_name')%>
    <% } else if (title === 'salads_vakame') { %>
        <%= __('salads_vakame_name')%>
    <% } %>
</title>