<%- include('./partials/head') %>

<%- include('./partials/nav_main') %>

<div class="container">
    <section class="block block--mb block--mob">
        <h1 class="block__header">
            <%= __('products_header')%>
        </h1>
        <div class="products_page">
            <div class="products_page__top">
                <div class="products_page__left">
                    <p class="products_page__info"><%= __('page_deliveryPrice')%> <span>50</span> &euro;</p>
                    <p class="products_page__info"><%= __('page_productsPrices_p1')%> <span>1</span> <%= __('page_productsPrices_p2')%></p>
                </div>
                <div class="products_page__right">
                    <p class="products_page__info products__info--m0"><%= __('page_deliveryPhone')%></p>
                    <p class="products_page__phone">+371 29914644</p>
                    <p class="products_page__hours">10:00-18:00</p>
                </div>
            </div>
            <div class="products_page__bottom">
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_cha_img')%>" alt="<%= __('salads_cha_name')%>">
                        <h3 class="card__name"><%= __('salads_cha_name')%></h3>
                        <div class="card__price"><%= __('salads_cha_price')%></div>
                        <a class="card__btn" href="products/1"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_eggplant_img')%>" alt="<%= __('salads_eggplant_name')%>">
                        <h3 class="card__name"><%= __('salads_eggplant_name')%></h3>
                        <div class="card__price"><%= __('salads_eggplant_price')%></div>
                        <a class="card__btn" href="products/2"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_water_img')%>" alt="<%= __('salads_water_name')%>">
                        <h3 class="card__name"><%= __('salads_water_name')%></h3>
                        <div class="card__price"><%= __('salads_water_price')%></div>
                        <a class="card__btn" href="products/3"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_cabbagebeet_img')%>" alt="<%= __('salads_cabbagebeet_name')%>">
                        <h3 class="card__name"><%= __('salads_cabbagebeet_name')%></h3>
                        <div class="card__price"><%= __('salads_cabbagebeet_price')%></div>
                        <a class="card__btn" href="products/4"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_adzhika_img')%>" alt="<%= __('salads_adzhika_name')%>">
                        <h3 class="card__name"><%= __('salads_adzhika_name')%></h3>
                        <div class="card__price"><%= __('salads_adzhika_price')%></div>
                        <a class="card__btn" href="products/5"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_mushr_img')%>" alt="<%= __('salads_mushr_name')%>">
                        <h3 class="card__name"><%= __('salads_mushr_name')%></h3>
                        <div class="card__price"><%= __('salads_mushr_price')%></div>
                        <a class="card__btn" href="products/6"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_sote_img')%>" alt="<%= __('salads_sote_name')%>">
                        <h3 class="card__name"><%= __('salads_sote_name')%></h3>
                        <div class="card__price"><%= __('salads_sote_price')%></div>
                        <a class="card__btn" href="products/7"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_celery_img')%>" alt="<%= __('salads_celery_name')%>">
                        <h3 class="card__name"><%= __('salads_celery_name')%></h3>
                        <div class="card__price"><%= __('salads_celery_price')%></div>
                        <a class="card__btn" href="products/8"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_trio_img')%>" alt="<%= __('salads_trio_name')%>">
                        <h3 class="card__name"><%= __('salads_trio_name')%></h3>
                        <div class="card__price"><%= __('salads_trio_price')%></div>
                        <a class="card__btn" href="products/9"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_mini_img')%>" alt="<%= __('salads_mini_name')%>">
                        <h3 class="card__name"><%= __('salads_mini_name')%></h3>
                        <div class="card__price"><%= __('salads_mini_price')%></div>
                        <a class="card__btn" href="products/10"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_colorcabbage_img')%>" alt="<%= __('salads_colorcabbage_name')%>">
                        <h3 class="card__name"><%= __('salads_colorcabbage_name')%></h3>
                        <div class="card__price"><%= __('salads_colorcabbage_price')%></div>
                        <a class="card__btn" href="products/11"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_chimcha_img')%>" alt="<%= __('salads_chimcha_name')%>">
                        <h3 class="card__name"><%= __('salads_chimcha_name')%></h3>
                        <div class="card__price"><%= __('salads_chimcha_price')%></div>
                        <a class="card__btn" href="products/12"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_mushr_white_img')%>" alt="<%= __('salads_mushr_white_name')%>">
                        <h3 class="card__name"><%= __('salads_mushr_white_name')%></h3>
                        <div class="card__price"><%= __('salads_mushr_white_price')%></div>
                        <a class="card__btn" href="products/13"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_beans_img')%>" alt="<%= __('salads_beans_name')%>">
                        <h3 class="card__name"><%= __('salads_beans_name')%></h3>
                        <div class="card__price"><%= __('salads_beans_price')%></div>
                        <a class="card__btn" href="products/14"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_cabbage_shafr_img')%>" alt="<%= __('salads_cabbage_shafr_name')%>">
                        <h3 class="card__name"><%= __('salads_cabbage_shafr_name')%></h3>
                        <div class="card__price"><%= __('salads_cabbage_shafr_price')%></div>
                        <a class="card__btn" href="products/15"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_funzhoza_img')%>" alt="<%= __('salads_funzhoza_name')%>">
                        <h3 class="card__name"><%= __('salads_funzhoza_name')%></h3>
                        <div class="card__price"><%= __('salads_funzhoza_price')%></div>
                        <a class="card__btn" href="products/16"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_funchozaSha_img')%>" alt="<%= __('salads_funchozaSha_name')%>">
                        <h3 class="card__name"><%= __('salads_funchozaSha_name')%></h3>
                        <div class="card__price"><%= __('salads_funchozaSha_price')%></div>
                        <a class="card__btn" href="products/17"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_cabbagePaprika_img')%>" alt="<%= __('salads_cabbagePaprika_name')%>">
                        <h3 class="card__name"><%= __('salads_cabbagePaprika_name')%></h3>
                        <div class="card__price"><%= __('salads_cabbagePaprika_price')%></div>
                        <a class="card__btn" href="products/18"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_mushr_assort_img')%>" alt="<%= __('salads_mushr_assort_name')%>">
                        <h3 class="card__name"><%= __('salads_mushr_assort_name')%></h3>
                        <div class="card__price"><%= __('salads_mushr_assort_price')%></div>
                        <a class="card__btn" href="products/19"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_mushr_bl_img')%>" alt="<%= __('salads_mushr_bl_name')%>">
                        <h3 class="card__name"><%= __('salads_mushr_bl_name')%></h3>
                        <div class="card__price"><%= __('salads_mushr_bl_price')%></div>
                        <a class="card__btn" href="products/20"><%= __('page_products_btn')%></a>
                    </div>
                </div>
                <div class="card">
                    <div class="card__inner">
                        <img class="card__img" src="<%= __('salads_vakame_img')%>" alt="<%= __('salads_vakame_name')%>">
                        <h3 class="card__name"><%= __('salads_vakame_name')%></h3>
                        <div class="card__price"><%= __('salads_vakame_price')%></div>
                        <a class="card__btn" href="products/21"><%= __('page_products_btn')%></a>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div> <!-- ./container -->

<%- include('./partials/footer') %>

<%- include('./partials/support') %>