<%- include('./partials/head') %>

<%- include('./partials/nav_products') %>

<div class="container">

    <div class="content">
        <h1 class="block__header">
            <%= __('salads_adzhika_name')%>
        </h1>
        <div class="content__top">
            <div class="content_left">
                <img class="content__img" src="<%= __('salads_adzhika_img')%>" alt="<%= __('salads_adzhika_name')%>">
            </div>
            <div class="content_right">
                <div class="content__price">
                    <%= __('salads_adzhika_price')%>
                </div>
                <div class="content__ingredients">
                    <ul class="content__list">
                        <li>
                            <%= __('salads_adzhika_ingredients_1')%>
                        </li>
                        <li>
                            <%= __('salads_adzhika_ingredients_2')%>
                        </li>
                        <li>
                            <%= __('salads_adzhika_ingredients_3')%>
                        </li>
                        <li>
                            <%= __('salads_adzhika_ingredients_4')%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content__bottom">
            <%= __('salads_adzhika_desc')%>
        </div>
    </div>

</div>

<%- include('./partials/footer') %>

<%- include('./partials/support') %>