<%- include('./partials/head') %>

<%- include('./partials/nav_products') %>

<div class="container">

    <div class="content">
        <h1 class="block__header">
            <%= __('salads_eggplant_name')%>
        </h1>
        <div class="content__top">
            <div class="content_left">
                <img class="content__img--hor" src="<%= __('salads_eggplant_img')%>" alt="<%= __('salads_eggplant_name')%>">
            </div>
            <div class="content_right">
                <div class="content__price">
                    <%= __('salads_eggplant_price')%>
                </div>
                <div class="content__ingredients">
                    <ul class="content__list">
                        <li>
                            <%= __('salads_eggplant_ingredients_1')%>
                        </li>
                        <li>
                            <%= __('salads_eggplant_ingredients_2')%>
                        </li>
                        <li>
                            <%= __('salads_eggplant_ingredients_3')%>
                        </li>
                        <li>
                            <%= __('salads_eggplant_ingredients_4')%>
                        </li>
                        <li>
                            <%= __('salads_eggplant_ingredients_5')%>
                        </li>
                        <li>
                            <%= __('salads_eggplant_ingredients_6')%>
                        </li>
                        <li>
                            <%= __('salads_eggplant_ingredients_7')%>
                        </li>
                        <li>
                            <%= __('salads_eggplant_ingredients_8')%>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content__bottom">
            <%= __('salads_eggplant_desc')%>
        </div>
    </div>

</div>

<%- include('./partials/footer') %>

<%- include('./partials/support') %>